@model FS.Areas.Admin.Models.Module

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Module</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="ModuleName" class="control-label"></label>
                <input asp-for="ModuleName" class="form-control" />
                <span asp-validation-for="ModuleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTime" class="control-label"></label>
                <input asp-for="EndTime" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdminId" class="control-label"></label>
                <select asp-for="AdminId" class="form-control" asp-items="ViewBag.AdminId"></select>
            </div>
            <div class="form-group">
                <label asp-for="FeedbackID" class="control-label"></label>
                <select asp-for="FeedbackID" class="form-control" asp-items="ViewBag.FeedbackID"></select>
            </div>
            <div class="form-group">
                <label asp-for="FeedbackStartTime" class="control-label"></label>
                <input asp-for="FeedbackStartTime" class="form-control" />
                <span asp-validation-for="FeedbackStartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FeedbackEndTime" class="control-label"></label>
                <input asp-for="FeedbackEndTime" class="form-control" />
                <span asp-validation-for="FeedbackEndTime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}